@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: 500;
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.collectif {
  min-height: 100vh;
  width: 100%;
}
.collectif__story {
  padding: 20vh 1.5rem 1rem 1.5rem;
}
.collectif__story h1 {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #b22222;
  margin: 1rem 0;
}
.collectif__story p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.collectif__story span {
  display: block;
  margin-bottom: 1rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  font-style: italic;
  line-height: 1.4rem;
  color: #b22222;
}
.collectif__story img {
  width: 100%;
}
.collectif__story figure {
  margin-bottom: 1rem;
}
.collectif__story figure figcaption {
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
}
.collectif footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.collectif footer .social-icons > * {
  margin: 1rem;
  color: #0e0e0e;
  transition: color 250ms ease-in;
}
.collectif footer .social-icons > *:hover {
  color: #b22222;
}

header {
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  width: 100%;
  z-index: 100;
}
header .header-top {
  position: relative;
}
header .header-top a {
  display: block;
  height: 10vh;
  width: 100%;
  background-image: url(../img/logo-black.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
header .nav-btn {
  margin: 1rem auto 1.5rem auto;
  width: 2rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
}
header .nav-btn__burger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  border-radius: 999px;
  background: #0e0e0e;
  transition: background 100ms linear 250ms;
}
header .nav-btn__burger::before {
  content: "";
  position: absolute;
  top: -0.75rem;
  height: 2px;
  width: 100%;
  border-radius: 999px;
  background-color: #0e0e0e;
  transition: transform 250ms linear, top 250ms linear;
}
header .nav-btn__burger::after {
  content: "";
  position: absolute;
  top: 0.75rem;
  height: 2px;
  width: 100%;
  border-radius: 999px;
  background-color: #0e0e0e;
  transition: transform 250ms linear, top 250ms linear;
}
header .nav-btn small {
  position: absolute;
  top: 100%;
}
header .nav-btn__burger.open {
  background: transparent;
  transition: background 100ms linear;
}
header .nav-btn__burger.open::before {
  transform: rotate(45deg);
  top: 0;
}
header .nav-btn__burger.open::after {
  transform: rotate(-45deg);
  top: 0;
}
header .nav-btn small {
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
header .header-nav {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  width: 100%;
  height: auto;
  transform: translateX(-100%);
  transition: transform 250ms ease-in;
}
header .header-nav.open {
  transform: translateX(0);
}
header .header-nav .nav-list {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .header-nav .nav-list__item {
  width: 50vw;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}
header .header-nav .nav-list__item::after {
  content: "";
  position: absolute;
  right: 1rem;
  height: 0%;
  width: 3px;
  border-right: 3px dotted #b22222;
  transition: height 200ms ease-out;
}
header .header-nav .nav-list__item.active::after {
  display: block;
}
header .header-nav .nav-list__item:hover * {
  color: #b22222;
}
header .header-nav .nav-list__item:hover::after {
  height: 120%;
}
header .header-nav .nav-list__link {
  color: #0e0e0e;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  header .header-top a {
    height: 17vh;
  }
  header .header-nav .nav-list__link {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .collectif .header-top {
    height: 27vh;
    background-image: url(/img/home-desktop-2.jpeg);
    background-size: cover;
    background-position: center bottom;
  }
  .collectif .header-top a {
    background: #010101;
    height: 17vh;
    width: 100%;
    background-image: url(/img/logo-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  header {
    position: relative;
    width: 100%;
  }
  header .nav-btn {
    display: none;
  }
  header .header-nav {
    padding: 1rem 0;
    background: #fff;
    position: relative;
    transform: translateX(0);
  }
  header .header-nav .nav-list {
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
  }
  header .header-nav .nav-list__item {
    width: auto;
    margin: 1rem auto;
  }
  header .header-nav .nav-list__item::after {
    right: -20%;
    top: 50%;
    transform: translateY(-50%);
  }
  .collectif__story {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, auto);
    grid-gap: 1rem;
  }
  .collectif__story #bloc-a {
    margin: 0;
    grid-area: 2/3/3/8;
  }
  .collectif__story #bloc-b {
    margin: 0;
    grid-area: 3/3/5/8;
    align-self: center;
  }
  .collectif__story #bloc-c {
    margin: 0;
    grid-area: 1/11/3/14;
  }
  .collectif__story #bloc-d {
    grid-area: 5/2/7/9;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .collectif__story #bloc-d figcaption {
    order: -1;
    max-width: 200px;
  }
  .collectif__story #bloc-e {
    margin: 0;
    grid-area: 4/9/7/14;
  }
  .collectif__story #bloc-f {
    margin: 0;
    grid-area: 5/14/6/16;
  }
  .collectif__story #bloc-g {
    margin: 1rem 0 0 0;
    grid-area: 7/9/8/14;
  }
  .collectif__story #bloc-h {
    margin: 0;
    grid-area: 8/9/10/14;
  }
  .collectif__story #bloc-i {
    grid-area: 10/5/11/15;
    margin: 0;
    max-width: 600px;
  }
}
.creations {
  min-height: 100vh;
  width: 100%;
}
.creations main {
  padding-top: 25vh;
}
.creations main .creations__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}
.creations main .creations__list .box {
  position: relative;
  flex-basis: 75%;
  max-width: 300px;
  min-width: 250px;
  aspect-ratio: 1;
  margin: 1rem;
  display: flex;
  justify-content: center;
}
.creations main .creations__list .box .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  transition: transform 250ms linear, opacity 350ms linear;
}
.creations main .creations__list .box:hover .bg {
  transform: scale(1.02);
}
.creations main .creations__list .box a {
  z-index: 5;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #b22222;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}
.creations main .creations__list .box a span {
  text-align: center;
}
.creations main .creations__list .box a span small {
  font-size: 2rem;
  font-weight: 400;
}
.creations main .creations__list .box-1 .bg {
  background-image: url(../img/creations/lvecfl.jpg);
  background-size: cover;
  background-position: center center;
}
.creations main .creations__list .box-2 .bg {
  background-image: url(../img/creations/lvecfs.png);
  background-size: cover;
  background-position: center center;
}
.creations main .creations__list .box-3 .bg {
  background-image: url(../img/creations/projetv.jpeg);
  background-size: cover;
  background-position: center center;
}
.creations main .creations__list .box-4 .bg {
  background-image: url(../img/creations/ldp.jpeg);
  background-size: cover;
  background-position: center center;
}
.creations footer {
  display: flex;
  justify-content: center;
}
.creations footer .social-icons {
  margin-bottom: 2rem;
}
.creations footer .social-icons > * {
  margin: 1rem;
  color: #0e0e0e;
  transition: color 250ms ease-in;
}
.creations footer .social-icons > *:hover {
  color: #b22222;
}

@media screen and (min-width: 768px) {
  .creations {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .creations main {
    min-height: auto;
    padding-top: 0;
    flex: 1;
    display: flex;
    align-items: center;
  }
  .creations main .creations__list {
    width: 100%;
    justify-content: space-evenly;
  }
  .creations main .creations__list .box {
    max-width: 350px;
  }
  .creations main .creations__list .box .bg {
    opacity: 1;
  }
  .creations main .creations__list .box:hover .bg {
    opacity: 0.7;
  }
  .creations main .creations__list .box a {
    opacity: 0;
    transition: opacity 350ms ease-in;
  }
  .creations main .creations__list .box a:hover {
    opacity: 1;
  }
  .creations main footer {
    flex: 1 1 100%;
    align-content: end;
  }
}
.actions {
  min-height: 100vh;
  width: 100%;
}
.actions main {
  padding-top: 25vh;
}
.actions main .creations__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.actions main .creations__list .box {
  position: relative;
  flex-basis: 75%;
  max-width: 300px;
  min-width: 250px;
  aspect-ratio: 1;
  margin: 1rem;
  display: flex;
  justify-content: center;
}
.actions main .creations__list .box .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  transition: transform 250ms linear, opacity 350ms linear;
}
.actions main .creations__list .box:hover .bg {
  transform: scale(1.02);
}
.actions main .creations__list .box a {
  z-index: 5;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #b22222;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  text-align: center;
}
.actions main .creations__list .box-1 .bg {
  background-image: url(../img/actions/journee-bleue.png);
  background-size: cover;
  background-position: center center;
}
.actions main .creations__list .box-2 .bg {
  background-image: url(../img/actions/lectures.png);
  background-size: cover;
  background-position: center center;
}
.actions main .creations__list .box-3 .bg {
  background-image: url(../img/actions/expo.png);
  background-size: cover;
  background-position: center center;
}
.actions main .creations__list .box-4 .bg {
  background-image: url(../img/actions/courtmetrage.png);
  background-size: cover;
  background-position: center center;
}
.actions footer {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.actions footer .social-icons > * {
  margin: 1rem;
  color: #0e0e0e;
  transition: color 250ms ease-in;
}
.actions footer .social-icons > *:hover {
  color: #b22222;
}

@media screen and (min-width: 768px) {
  .actions {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .actions main {
    min-height: auto;
    padding-top: 0;
    flex: 1;
    display: flex;
    align-items: center;
  }
  .actions main .creations__list {
    width: 100%;
    justify-content: space-evenly;
  }
  .actions main .creations__list .box {
    max-width: 300px;
  }
  .actions main .creations__list .box .bg {
    opacity: 1;
  }
  .actions main .creations__list .box:hover .bg {
    opacity: 0.7;
  }
  .actions main .creations__list .box a {
    opacity: 0;
    transition: opacity 350ms ease-in;
  }
  .actions main .creations__list .box a:hover {
    opacity: 1;
  }
  .actions main footer {
    flex: 1 1 100%;
    align-content: end;
  }
}
.actualites {
  min-height: 100vh;
  width: 100%;
}
.actualites main {
  padding-top: 30vh;
}
.actualites main .actu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.actualites main .actu__list .box {
  position: relative;
  flex-basis: 90%;
  max-width: 300px;
  aspect-ratio: 1;
  margin: 1rem;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  transition: transform 200ms ease-in-out;
}
.actualites main .actu__list .box:hover {
  transform: scale(1.05);
}
.actualites main .actu__list .box h2 {
  width: auto;
  margin: 0 auto 2rem auto;
  font-size: 3.2rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #b2cce5;
}
.actualites main .actu__list .box h2 small {
  display: block;
  font-size: 1.2rem;
  color: white;
  text-transform: none;
}
.actualites main .actu__list .box .date-list {
  flex: 1;
  font-size: 1rem;
  font-weight: 600;
}
.actualites main .actu__list .box .date-list li {
  margin-bottom: 1rem;
  line-height: 1.3rem;
  text-align: justify;
}
.actualites main .actu__list .box .date-list a {
  text-decoration: underline;
  color: white;
  font-weight: 500;
}
.actualites main .actu__list .box .date-list a:hover {
  color: #b22222;
}
.actualites main .actu__list .box-1 {
  background-image: url(../img/creations/projetv.jpeg);
  background-size: cover;
  background-position: center center;
  aspect-ratio: 0;
}
.actualites main .actu__list .box-2 {
  background-image: url(../img/creations/ldp.jpeg);
  background-size: cover;
  background-position: center center;
  aspect-ratio: 0;
}
.actualites main .actu__list .box-2 h2 {
  color: #b22222;
}
.actualites footer {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.actualites footer .social-icons > * {
  margin: 1rem;
  color: #0e0e0e;
  transition: color 250ms ease-in;
}
.actualites footer .social-icons > *:hover {
  color: #b22222;
}

@media screen and (min-width: 768px) {
  .actualites {
    display: flex;
    flex-direction: column;
  }
  .actualites main {
    padding-top: 2%;
    padding-bottom: 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .actualites main .actu__list {
    justify-content: space-evenly;
  }
  .actualites main .actu__list .box {
    max-width: 500px;
    padding: 1.5rem;
  }
  .actualites main .actu__list .box h2 {
    font-size: 4rem;
  }
  .actualites main .actu__list .box .date-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5rem;
  }
  .actualites main .actu__list .box .date-list li {
    line-height: 1.8rem;
  }
}
.lvecl {
  min-height: 100vh;
  width: 100%;
}
.lvecl section {
  padding: 25vh 1.5rem 1rem 1.5rem;
}
.lvecl section img {
  width: 100%;
  margin-bottom: 1rem;
}
.lvecl section span {
  display: block;
  margin-bottom: 1rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
  line-height: 1.4rem;
  color: #b22222;
}
.lvecl section p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}
.lvecl section h1 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #b22222;
  margin: 1rem 0;
  display: inline-block;
  position: relative;
}
.lvecl section h1 span {
  display: inline-block;
  text-transform: lowercase;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
}
.lvecl section h1 small {
  display: block;
  color: #0e0e0e;
  text-transform: none;
  position: absolute;
  bottom: -5px;
}
.lvecl section #bloc-b {
  margin-top: 0.5rem;
  text-align: right;
}
.lvecl section #bloc-b small {
  display: block;
  color: black;
  font-style: normal;
}
.lvecl section #bloc-d {
  color: #0e0e0e;
  text-align: left;
  line-height: 1.4rem;
}
.lvecl section #bloc-d h3 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.lvecl section #bloc-d > * {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1rem;
}
.lvecl section #bloc-f {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #b22222;
  margin: 1rem 0;
}
.lvecl section #bloc-f span {
  display: inline;
  text-transform: lowercase;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
}
.lvecl section #bloc-i {
  display: block;
  width: auto;
  text-align: center;
}
.lvecl section #bloc-j, .lvecl section #bloc-k, .lvecl section #bloc-l {
  display: none;
}
.lvecl footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.lvecl footer .social-icons > * {
  margin: 1rem;
  color: #0e0e0e;
  transition: color 250ms ease-in;
}
.lvecl footer .social-icons > *:hover {
  color: #b22222;
}

@media screen and (min-width: 768px) {
  .lvecl section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, auto);
    grid-gap: 1rem;
  }
  .lvecl section #bloc-a {
    width: auto;
    margin: 0;
    font-size: 2.2rem;
    grid-area: 1/7/2/15;
    letter-spacing: 0.5rem;
    justify-self: center;
  }
  .lvecl section #bloc-a span {
    font-size: 1.7rem;
    margin: 0;
    letter-spacing: normal;
  }
  .lvecl section #bloc-a small {
    position: relative;
    font-size: 1.5rem;
    letter-spacing: normal;
  }
  .lvecl section #bloc-b {
    grid-area: 6/7/8/11;
    text-align: left;
    margin: 0;
    padding-right: 1.5rem;
    line-height: 1.8rem;
    align-self: center;
  }
  .lvecl section #bloc-c {
    margin: 0;
    grid-area: 2/7/6/15;
  }
  .lvecl section #bloc-d {
    grid-area: 2/3/6/7;
    align-self: center;
    padding-right: 1.5rem;
  }
  .lvecl section #bloc-e {
    grid-area: 14/6/16/11;
  }
  .lvecl section #bloc-f {
    grid-area: 9/11/10/16;
  }
  .lvecl section #bloc-g {
    grid-area: 10/11/13/16;
    line-height: 1.4rem;
  }
  .lvecl section #bloc-h {
    grid-area: 13/11/15/19;
    margin: 0;
  }
  .lvecl section #bloc-i {
    display: none;
  }
  .lvecl section #bloc-j {
    display: block;
    grid-area: 6/1/8/7;
    margin: 0;
    align-items: center;
  }
  .lvecl section #bloc-k {
    display: block;
    grid-area: 6/11/9/17;
    margin: 5rem 0 0 0;
    align-items: center;
  }
  .lvecl section #bloc-l {
    display: block;
    grid-area: 10/4/14/11;
    align-self: end;
  }
}
main {
  min-height: 100vh;
  width: 100%;
}
main .lvecs {
  padding: 25vh 1.5rem 1rem 1.5rem;
}
main .lvecs img, main .lvecs video {
  width: 100%;
  margin-bottom: 1rem;
}
main .lvecs span {
  display: block;
  margin-bottom: 1rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
  line-height: 1.4rem;
  color: #b22222;
  text-align: right;
}
main .lvecs span small {
  color: #0e0e0e;
  font-style: normal;
}
main .lvecs h2 {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #b22222;
  margin: 1rem 0;
}
main .lvecs p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}
main .lvecs .bloc-a {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #b22222;
  margin: 1rem 0;
  display: inline-block;
  position: relative;
}
main .lvecs .bloc-a span {
  display: inline-block;
  text-transform: lowercase;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
}
main .lvecs .bloc-a small {
  display: block;
  color: #0e0e0e;
  text-transform: none;
  position: absolute;
  bottom: -5px;
}
main .lvecs .bloc-d {
  color: #0e0e0e;
  text-align: left;
  line-height: 1.4rem;
}
main .lvecs .bloc-d h3 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
main .lvecs .bloc-d > * {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1rem;
}
main .lvecs .bloc-g h3 {
  color: #0e0e0e;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
main .lvecs .bloc-j {
  display: none;
}
main footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
main footer .social-icons > * {
  margin: 1rem;
  color: #0e0e0e;
  transition: color 250ms ease-in;
}
main footer .social-icons > *:hover {
  color: #b22222;
}
@media screen and (min-width: 768px) {
  main .lvecs {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-gap: 1rem;
  }
  main .lvecs .bloc-a {
    width: auto;
    margin-bottom: 2rem;
    font-size: 2.2rem;
    grid-area: 1/7/2/15;
    letter-spacing: 0.5rem;
    justify-self: center;
  }
  main .lvecs .bloc-a span {
    font-size: 1.7rem;
    margin: 0;
    letter-spacing: normal;
  }
  main .lvecs .bloc-a small {
    position: relative;
    font-size: 1.5rem;
    letter-spacing: normal;
  }
  main .lvecs .bloc-b {
    grid-area: 2/10/3/14;
    text-align: left;
    margin: 5rem 0;
    padding-right: 1.5rem;
    line-height: 1.8rem;
    align-self: center;
  }
  main .lvecs .bloc-c {
    margin: 0;
    grid-area: 2/1/4/10;
  }
  main .lvecs .bloc-d {
    grid-area: 5/1/7/5;
    align-self: center;
    margin-left: 2rem;
  }
  main .lvecs .bloc-e {
    grid-area: 4/5/6/10;
    align-self: center;
  }
  main .lvecs .bloc-f {
    grid-area: 5/5/7/9;
  }
  main .lvecs .bloc-g {
    grid-area: 5/10/7/17;
    margin: 5rem 0 0 0;
  }
  main .lvecs .bloc-h {
    grid-area: 7/10/9/15;
    align-self: center;
  }
  main .lvecs .bloc-i {
    grid-area: 3/10/5/15;
    align-self: end;
  }
  main .lvecs .bloc-j {
    display: block;
    margin: 0;
    grid-area: 6/5/8/10;
  }
}

main {
  min-height: 100vh;
  width: 100%;
}
main .projetv {
  padding: 25vh 1.5rem 1rem 1.5rem;
}
main .projetv img {
  width: 100%;
  margin-bottom: 1rem;
}
main .projetv p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}
main .projetv .bloc-a {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #b22222;
  margin: 2rem 0;
  display: block;
  position: relative;
}
main .projetv .bloc-a small {
  display: block;
  color: #0e0e0e;
  text-transform: none;
  position: absolute;
  bottom: -15px;
}
main .projetv .bloc-b {
  display: block;
  margin-top: 1rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
  line-height: 1.4rem;
  color: #b22222;
  text-align: right;
  padding-left: 25%;
}
main .projetv .bloc-b small {
  color: #0e0e0e;
  font-style: normal;
  display: block;
}
main .projetv .bloc-d {
  color: #0e0e0e;
  text-align: left;
  line-height: 1.4rem;
}
main .projetv .bloc-d h3 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
main .projetv .bloc-d > * {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1rem;
}
main .projetv .bloc-f {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #b22222;
  margin-bottom: 1rem;
  display: block;
}
main .projetv .bloc-f span {
  display: block;
  text-transform: none;
}
main .projetv .bloc-i {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #b22222;
  margin-bottom: 1rem;
  display: inline-block;
}
main .projetv .bloc-i span {
  text-transform: none;
}
main .projetv .bloc-m {
  display: none;
}
main .projetv .bloc-n {
  display: none;
}
main .projetv .bloc-f {
  display: none;
}
main footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
main footer .social-icons > * {
  margin: 1rem;
  color: #0e0e0e;
  transition: color 250ms ease-in;
}
main footer .social-icons > *:hover {
  color: #b22222;
}
@media screen and (min-width: 768px) {
  main .projetv {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, auto);
    grid-gap: 1rem;
    align-items: center;
  }
  main .projetv .bloc-a {
    margin: 0;
    grid-area: 1/7/2/11;
    display: inline-block;
    font-size: 3rem;
    margin: 5rem 0;
  }
  main .projetv .bloc-a small {
    bottom: auto;
    font-size: 2rem;
  }
  main .projetv .bloc-b {
    grid-area: 2/13/4/17;
    margin: 0;
    text-align: left;
    align-self: start;
    font-size: 2rem;
    line-height: normal;
  }
  main .projetv .bloc-c {
    margin: 0;
    grid-area: 4/1/6/10;
  }
  main .projetv .bloc-d {
    grid-area: 2/1/4/5;
    margin: 0;
  }
  main .projetv .bloc-e {
    grid-area: 11/7/13/12;
    margin: 0;
  }
  main .projetv .bloc-f {
    grid-area: 4/10/5/17;
    margin: 0;
    display: inline;
    font-size: 1.8rem;
    align-self: end;
  }
  main .projetv .bloc-f span {
    display: inline;
  }
  main .projetv .bloc-g {
    grid-area: 5/10/6/17;
    margin: 0;
    align-self: start;
  }
  main .projetv .bloc-h {
    grid-area: 2/5/4/14;
    margin: 0;
  }
  main .projetv .bloc-i {
    grid-area: 6/12/7/17;
    margin: 0;
    font-size: 1.8rem;
  }
  main .projetv .bloc-j {
    grid-area: 7/12/8/17;
    margin: 0;
  }
  main .projetv .bloc-k {
    grid-area: 8/12/9/17;
    margin: 0;
  }
  main .projetv .bloc-l {
    grid-area: 9/7/11/12;
    margin: 0;
  }
  main .projetv .bloc-m {
    display: block;
    grid-area: 6/3/9/12;
    margin: 0;
  }
  main .projetv .bloc-n {
    display: block;
    grid-area: 9/-6/11/-1;
    margin: 0;
  }
}

main {
  min-height: 100vh;
  width: 100%;
}
main .ldp {
  padding: 25vh 1.5rem 1rem 1.5rem;
}
main .ldp img {
  width: 100%;
  margin-bottom: 1rem;
}
main .ldp p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}
main .ldp .bloc-a {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #b22222;
  margin: 2rem 0;
  display: block;
  position: relative;
}
main .ldp .bloc-a small {
  display: block;
  color: #0e0e0e;
  text-transform: none;
  position: absolute;
  bottom: -15px;
}
main .ldp .bloc-b {
  display: block;
  margin: 1.5rem 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
  line-height: 1.4rem;
  color: #b22222;
  text-align: right;
}
main .ldp .bloc-b small {
  color: #0e0e0e;
  font-style: normal;
  display: block;
}
main .ldp .bloc-c, main .ldp .bloc-e, main .ldp .bloc-g, main .ldp .bloc-i {
  margin-bottom: 1.5rem;
}
main .ldp .bloc-c img, main .ldp .bloc-e img, main .ldp .bloc-g img, main .ldp .bloc-i img {
  margin: 0;
}
main .ldp .bloc-d {
  color: #0e0e0e;
  text-align: left;
  line-height: 1.4rem;
}
main .ldp .bloc-d h3 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
main .ldp .bloc-d h3 span {
  text-transform: none;
}
main .ldp .bloc-d > * {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1rem;
}
main .ldp .bloc-f h2 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #b22222;
  margin-bottom: 0.5rem;
  display: block;
}
main .ldp .bloc-f span {
  display: block;
  text-transform: none;
}
main .ldp .bloc-h {
  color: #0e0e0e;
  text-align: left;
  font-weight: 600;
}
main .ldp .bloc-i {
  display: none;
}
main footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
main footer .social-icons > * {
  margin: 1rem;
  color: #0e0e0e;
  transition: color 250ms ease-in;
}
main footer .social-icons > *:hover {
  color: #b22222;
}
@media screen and (min-width: 768px) {
  main .ldp {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(16, auto);
    grid-gap: 1rem;
    align-items: center;
  }
  main .ldp .bloc-a {
    margin: 0;
    grid-area: 1/8/2/17;
    display: inline-block;
    font-size: 3rem;
    margin: 5rem 0;
  }
  main .ldp .bloc-a small {
    bottom: auto;
    font-size: 2rem;
  }
  main .ldp .bloc-b {
    grid-area: 3/1/4/5;
    margin: 0;
    text-align: left;
    padding-right: 5rem;
  }
  main .ldp .bloc-c {
    grid-area: 2/8/4/16;
    margin: 0;
  }
  main .ldp .bloc-d {
    grid-area: 2/5/4/8;
    margin: 0;
  }
  main .ldp .bloc-e {
    grid-area: 5/1/7/8;
    margin: 0;
  }
  main .ldp .bloc-f {
    grid-area: 4/8/6/16;
    margin-top: 2rem;
  }
  main .ldp .bloc-g {
    grid-area: 6/8/9/13;
    margin: 0;
  }
  main .ldp .bloc-h {
    grid-area: 4/5/5/7;
    margin: 0;
  }
  main .ldp .bloc-i {
    display: block;
    grid-area: 7/4/9/8;
  }
}

main {
  min-height: 100vh;
  width: 100%;
}
main .jbleue {
  padding: 25vh 1.5rem 1rem 1.5rem;
}
main .jbleue img {
  width: 100%;
  margin-bottom: 1rem;
}
main .jbleue p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}
main .jbleue .bloc-a {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #b22222;
  margin: 2rem 0;
  display: block;
  position: relative;
  text-align: right;
}
main .jbleue .bloc-a small {
  display: block;
  color: #0e0e0e;
  text-transform: none;
  position: absolute;
  bottom: -15px;
  right: 0;
}
main .jbleue .bloc-b {
  display: block;
  margin: 1.5rem 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
  line-height: 1.4rem;
  color: #b22222;
  text-align: right;
}
main .jbleue .bloc-b small {
  color: #0e0e0e;
  font-style: normal;
  display: block;
}
main .jbleue .bloc-d h3 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #b22222;
  margin: 1.5rem 0 1rem 0;
  display: block;
  position: relative;
}
main footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
main footer .social-icons > * {
  margin: 1rem;
  color: #0e0e0e;
  transition: color 250ms ease-in;
}
main footer .social-icons > *:hover {
  color: #b22222;
}
@media screen and (min-width: 768px) {
  main .jbleue {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-gap: 2.5rem;
    align-items: center;
  }
  main .jbleue .bloc-a {
    margin: 0;
    grid-area: 1/3/2/7;
    display: inline-block;
    font-size: 3rem;
    margin: 5rem 0;
    justify-content: end;
  }
  main .jbleue .bloc-a small {
    bottom: auto;
    font-size: 2rem;
  }
  main .jbleue .bloc-b {
    grid-area: 2/7/4/9;
    margin: 0;
    text-align: left;
    font-size: 2rem;
    line-height: normal;
  }
  main .jbleue .bloc-c {
    grid-area: 2/2/4/7;
    margin: 0;
  }
  main .jbleue .bloc-d {
    grid-area: 4/5/6/9;
    margin: 0;
  }
  main .jbleue .bloc-e {
    grid-area: 6/5/8/8;
    margin: 0;
  }
  main .jbleue .bloc-f {
    grid-area: 4/1/6/5;
    margin: 0;
  }
}

main {
  min-height: 100vh;
  width: 100%;
}
main .lecture {
  padding: 25vh 1.5rem 1rem 1.5rem;
}
main .lecture img {
  width: 100%;
  margin-bottom: 1rem;
}
main .lecture p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}
main .lecture .bloc-a {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #b22222;
  margin: 2rem 0;
  display: block;
  position: relative;
  text-align: right;
}
main .lecture .bloc-a small {
  display: block;
  color: #0e0e0e;
  text-transform: none;
  position: absolute;
  bottom: -15px;
  right: 0;
}
main .lecture .bloc-b {
  display: block;
  margin: 1.5rem 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
  line-height: 1.4rem;
  color: #b22222;
  text-align: right;
}
main .lecture .bloc-b small {
  color: #0e0e0e;
  font-style: normal;
  display: block;
}
main .lecture .bloc-d h3 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #b22222;
  margin: 1.5rem 0 1rem 0;
  display: block;
  position: relative;
}
main footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
main footer .social-icons > * {
  margin: 1rem;
  color: #0e0e0e;
  transition: color 250ms ease-in;
}
main footer .social-icons > *:hover {
  color: #b22222;
}
@media screen and (min-width: 768px) {
  main .lecture {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-gap: 2.5rem;
    align-items: center;
  }
  main .lecture .bloc-a {
    margin: 0;
    grid-area: 1/3/2/7;
    display: inline-block;
    font-size: 3rem;
    margin: 5rem 0;
    justify-content: end;
  }
  main .lecture .bloc-a small {
    bottom: auto;
    font-size: 2rem;
  }
  main .lecture .bloc-b {
    grid-area: 2/7/4/9;
    margin: 0;
    text-align: left;
    font-size: 2rem;
    line-height: normal;
  }
  main .lecture .bloc-c {
    grid-area: 2/2/4/7;
    margin: 0;
  }
  main .lecture .bloc-d {
    grid-area: 4/4/6/8;
    margin: 0;
  }
  main .lecture .bloc-e {
    grid-area: 6/4/8/8;
    margin: 0;
  }
  main .lecture .bloc-f {
    grid-area: 4/1/7/4;
    margin: 0;
  }
}

main {
  min-height: 100vh;
  width: 100%;
}
main .expo {
  padding: 25vh 1.5rem 1rem 1.5rem;
}
main .expo img {
  width: 100%;
  margin-bottom: 1rem;
}
main .expo p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}
main .expo .bloc-a {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #b22222;
  margin: 2rem 0;
  display: block;
  position: relative;
  text-align: right;
}
main .expo .bloc-a small {
  display: block;
  color: #0e0e0e;
  text-transform: none;
  position: absolute;
  bottom: -15px;
  right: 0;
}
main .expo .bloc-b {
  display: block;
  margin: 1.5rem 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
  line-height: 1.4rem;
  color: #b22222;
  text-align: right;
}
main .expo .bloc-b small {
  color: #0e0e0e;
  font-style: normal;
  display: block;
}
main .expo .bloc-c {
  border: 1px solid #b22222;
}
main .expo .bloc-d h3 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #b22222;
  margin: 1.5rem 0 1rem 0;
  display: block;
  position: relative;
}
main .expo .bloc-h {
  display: none;
}
main .expo .bloc-i {
  display: none;
}
main footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
main footer .social-icons > * {
  margin: 1rem;
  color: #0e0e0e;
  transition: color 250ms ease-in;
}
main footer .social-icons > *:hover {
  color: #b22222;
}
@media screen and (min-width: 768px) {
  main .expo {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-gap: 2.5rem;
    align-items: center;
  }
  main .expo .bloc-a {
    margin: 0;
    grid-area: 1/3/2/7;
    display: inline-block;
    font-size: 3rem;
    margin: 5rem 0;
    justify-content: end;
  }
  main .expo .bloc-a small {
    bottom: auto;
    font-size: 2rem;
  }
  main .expo .bloc-b {
    grid-area: 2/6/3/9;
    margin: 0;
    text-align: right;
    font-size: 2rem;
    line-height: normal;
  }
  main .expo .bloc-c {
    grid-area: 6/1/9/6;
    padding-left: 5rem;
  }
  main .expo .bloc-d {
    grid-area: 4/2/6/6;
    margin: 0;
  }
  main .expo .bloc-e {
    grid-area: 2/2/4/6;
    margin: 0;
  }
  main .expo .bloc-f {
    grid-area: 2/1/3/2;
    margin: 0;
  }
  main .expo .bloc-g {
    margin: 0;
    grid-area: 5/6/7/9;
  }
  main .expo .bloc-h {
    display: block;
    margin: 0;
    grid-area: 4/6/5/8;
  }
  main .expo .bloc-i {
    display: block;
    margin: 0;
    grid-area: 7/6/8/8;
  }
}

main {
  min-height: 100vh;
  width: 100%;
}
main .courtmetrage {
  padding: 25vh 1.5rem 1rem 1.5rem;
}
main .courtmetrage img {
  width: 100%;
  margin-bottom: 1rem;
}
main .courtmetrage p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}
main .courtmetrage .bloc-a {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #b22222;
  margin: 2rem 0;
  display: block;
  position: relative;
  text-align: right;
}
main .courtmetrage .bloc-a small {
  display: block;
  color: #0e0e0e;
  text-transform: none;
  position: absolute;
  bottom: -15px;
  right: 0;
}
main .courtmetrage .bloc-b {
  display: block;
  margin: 1.5rem 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
  line-height: 1.4rem;
  color: #b22222;
  text-align: right;
}
main .courtmetrage .bloc-b small {
  color: #0e0e0e;
  font-style: normal;
  display: block;
}
main .courtmetrage .bloc-d h3 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #b22222;
  margin: 1.5rem 0 1rem 0;
  display: block;
  position: relative;
}
main .courtmetrage .bloc-f {
  color: #0e0e0e;
  text-align: left;
  line-height: 1.4rem;
}
main .courtmetrage .bloc-f h3 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
main .courtmetrage .bloc-f > * {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1rem;
}
main .courtmetrage .bloc-g {
  display: none;
}
main .courtmetrage .bloc-h {
  display: none;
}
main .courtmetrage .bloc-i {
  display: none;
}
main footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
main footer .social-icons > * {
  margin: 1rem;
  color: #0e0e0e;
  transition: color 250ms ease-in;
}
main footer .social-icons > *:hover {
  color: #b22222;
}
@media screen and (min-width: 768px) {
  main .courtmetrage {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-gap: 2.5rem;
    align-items: center;
  }
  main .courtmetrage .bloc-a {
    margin: 0;
    grid-area: 1/1/2/8;
    display: inline-block;
    font-size: 3rem;
    margin: 5rem 0;
    justify-content: end;
  }
  main .courtmetrage .bloc-a small {
    bottom: auto;
    font-size: 2rem;
  }
  main .courtmetrage .bloc-b {
    grid-area: 2/2/3/5;
    margin: 0;
    text-align: left;
    font-size: 2rem;
    line-height: normal;
    padding: 0 4rem;
  }
  main .courtmetrage .bloc-c {
    grid-area: 3/5/4/9;
  }
  main .courtmetrage .bloc-d {
    grid-area: 4/5/6/9;
    margin: 0;
  }
  main .courtmetrage .bloc-e {
    grid-area: 2/2/4/6;
    margin: 0;
    display: none;
  }
  main .courtmetrage .bloc-f {
    grid-area: 2/1/3/2;
    margin: 0;
  }
  main .courtmetrage .bloc-g {
    margin: 0;
    grid-area: 5/6/7/9;
  }
  main .courtmetrage .bloc-h {
    display: block;
    margin: 0;
    grid-area: 2/5/3/8;
  }
  main .courtmetrage .bloc-i {
    display: block;
    margin: 0;
    grid-area: 3/1/4/5;
  }
}/*# sourceMappingURL=main.css.map */