.creations {
    min-height: 100vh;
    width: 100%;

    main {
        padding-top: 20vh;

        .creations__list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .box {
                flex-basis: 75%;
                max-width: 300px;
                aspect-ratio: 1;
                margin: 1rem;
                border-radius: 5px;
                box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -4px rgba(0, 0, 0, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    text-align: center;
                    font-size: 3rem;
                    font-family: $quicksand;
                    color: $myRed;
                }
            }

            .box-1 {
                background-image: url(/img/creations/ldp.jpeg);
                background-size: cover;
                background-position: center center;
            }

            .box-2 {
                background-image: url(/img/creations/ldp.jpeg);
                background-size: cover;
                background-position: center center;
            }

            .box-3 {
                background-image: url(/img/creations/ldp.jpeg);
                background-size: cover;
                background-position: center center;
            }

            .box-4 {
                background-image: url(/img/creations/ldp.jpeg);
                background-size: cover;
                background-position: center center;
            }
        }
    }

    
    footer {
        display: flex;
        justify-content: center;
        margin: 1rem 0;

        .social-icons > * {
            margin: 1rem;
            color: $blackText;
            @include transition-color;
    
            &:hover {
                color: $myRed;
            }
        }
    }
}

@include media-md {
    .creations{
        display: flex;
        flex-direction: column;


        main{
            flex: auto;
            padding-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .creations__list{
                justify-content: space-around;

                .box{
                
                }
            }

            footer {
                
            }
        }
    }
}