@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$quicksand: 'Quicksand', sans-serif;
$roboto: 'Roboto', sans-serif;

$whiteText: #fff;
$blackText: #0e0e0e;
$myRed: #b22222;
$bgHeader: hsla(0, 0%, 97%, .9);

$shadowBlackLight: 0 3px 5px rgba(0, 0, 0, 0.5), 0 4px 5px rgba(0, 0, 0, 0.5);

@mixin transition-color {
    transition: color 250ms ease-in;
}

@mixin transition-width-height {
    transition: width 250ms ease-out,
    height 250ms ease-out;
}

@mixin media-sm {
    @media (min-width: 350px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px){
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1000px){
        @content;
    }
}
