@import "./config";
@import "./variables";
@import "./index.styles/header.index";
@import "./index.styles/responsive.index";

.index {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;

    
    footer {
        display: flex;
        justify-content: center;
        padding: .5rem 0;
    
        .social-icons > * {
            font-size: .8rem;
            margin: 1rem;
            color: $blackText;
            @include transition-color;
    
            &:hover {
                color: $myRed;
            }
        }
    }
}

@include media-md {
    .index {
        padding: 0;
    }
}

