.creations {
    min-height: 100vh;
    width: 100%;

    main {
        padding-top: 25vh;

        .creations__list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .box {
                position: relative;
                flex-basis: 75%;
                max-width: 300px;
                aspect-ratio: 1;
                margin: 1rem;
                border-radius: 5px;
                box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .8);
                display: flex;
                justify-content: center;
                transition: transform 200ms ease-in-out;

                &:hover {
                    transform: scale(1.05);
                }

                .bg {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    border-radius: 5px;
                    transition: opacity 200ms ease-in-out,
                    filter 200ms ease-in-out;
                    opacity: 1;
                }

                &:hover .bg{
                    opacity: .8;
                    // filter: blur(2px);
                }

                a {
                    z-index: 5;
                    font-size: 3rem;
                    font-family: $roboto;
                    font-weight: 600;
                    color: $myRed;
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        text-align: center;

                        small {
                            font-size: 2rem;
                            font-weight: 400;
                        }
                    }
                }
            }

            .box-1 .bg {
                background-image:url(/img/creations/ldp.jpeg);
                background-size: cover;
                background-position: center center;
            }

            .box-2 .bg{
                background-image: url(/img/creations/ldp.jpeg);
                background-size: cover;
                background-position: center center;
            }

            .box-3 .bg {
                background-image: url(/img/creations/projetv.jpeg);
                background-size: cover;
                background-position: center center;
            }

            .box-4 .bg {
                background-image: url(/img/creations/ldp.jpeg);
                background-size: cover;
                background-position: center center;
            }


        }
    }

    
    footer {
        display: flex;
        justify-content: center;
        margin: 1rem 0;

        .social-icons > * {
            margin: 1rem;
            color: $blackText;
            @include transition-color;
    
            &:hover {
                color: $myRed;
            }
        }
    }
}

@include media-md {
    .creations{
        display: flex;
        flex-direction: column;


        main{
            padding-top: calc(50vh - 350px);
            padding-bottom: 1.5rem;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .creations__list{
                justify-content: space-evenly;

                .box {
                    max-width: 300px;
                }
            }
        }
    }
}