.lvecl {
    min-height: 100vh;
    width: 100%;

    section {
        padding: 22vh 1.5rem 1rem 1.5rem;

        img{
            width: 100%;
            margin-bottom: 1rem;
        }

        span {
            display: block;
            margin-bottom: 1rem;
            font-family: $quicksand;
            font-size: 1.1rem;
            font-weight: 600;
            font-style: italic;
            line-height: 1.4rem;
            color: $myRed;
        }

        p {
            text-align: justify;
            font-family: $roboto;
            font-size: 1.1rem;
            margin-bottom: 1rem;
        }

        h1{
            font-size: 1.5rem;
            font-family: $roboto;
            font-weight: 600;
            text-transform: uppercase;
            color: $myRed;
            margin: 1rem 0;
            display: inline-block;
            position: relative;

            span {
                display: inline-block;
                text-transform: lowercase;
                font-style: normal;
                font-weight: 700;
                font-size: 1.2rem;
            }

            small {
                display: block;
                color: $blackText;
                text-transform: none;
                position: absolute;
                bottom: -5px;
            }
        }

        #bloc-b {
            margin-top: .5rem;
            text-align: right;

            small {
                display: block;
                color: black;
                font-style: normal;
            }
        }

        #bloc-d {
            color: $blackText;
            text-align: left;
            line-height: 1.4rem;

            h3 {
                font-size: 1rem;
                font-weight: 600;
                text-transform: uppercase;
            }

            & > * {
                margin-bottom: 1rem;
                font-weight: 600;
                font-size: 1rem;
            }
        }

        #bloc-f {   
            font-size: 1.5rem;
            font-family: $roboto;
            font-weight: 600;
            text-transform: uppercase;
            color: $myRed;
            margin: 1rem 0;

            span {
                display: inline;
                text-transform: lowercase;
                font-style: normal;
                font-weight: 700;
                font-size: 1.2rem;
            }
        }

        #bloc-i {
            display: block;
            width: auto;
            text-align: center;
        }

        #bloc-j, #bloc-k, #bloc-l {
            display: none;
        }

    }

    footer {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        .social-icons > * {
            margin: 1rem;
            color: $blackText;
            @include transition-color;
    
            &:hover {
                color: $myRed;
            }
        }
    }
}

@include media-md {
    .lvecl {
    
        section {
            padding: 1.5rem 5rem;
            display: grid;
            grid-template-columns: repeat(16, 1fr);
            grid-template-rows: repeat(16, auto);
            grid-gap: 1rem;
    
            #bloc-a {
                width: auto;
                margin: 0;
                font-size: 2rem;
                grid-area: 1 / 7 / 2 / 15;
                letter-spacing: .5rem;
                justify-self: end;

                span {
                    font-size: 1.5rem;
                    margin: 0;
                    letter-spacing: normal;
                }

                small {
                    position: relative;
                    font-size: 1.5rem;
                    letter-spacing: normal;
                }
            }

            #bloc-b {
                grid-area: 6 / 7 / 8 / 11;
                text-align: left;
                margin: 0;
                padding-right: 1.5rem;
                line-height: 1.6rem;
                align-self: center;
            }

            #bloc-c {
                margin: 0;
                grid-area: 2 / 7 / 6 / 15;
            }

            #bloc-d {
                grid-area: 2 / 3 / 6 / 7;
                align-self: center;
                padding-right: 1.5rem;
            }

            #bloc-e {
                grid-area: 14 / 6 / 16 / 11;
            }

            #bloc-f {
                grid-area: 9 / 11 / 10 / 16;
            }

            #bloc-g {
                grid-area: 10 / 11 / 13 / 16;
            }

            #bloc-h {
                grid-area: 13 / 11 / 15 / 19;
                margin: 0;
            }

            #bloc-i {
                display: none;
            }

            #bloc-j {
                display: block;
                grid-area: 6 / 1 / 8 / 7;
                margin: 0;
                align-items: center;
            }

            #bloc-k {
                display: block;
                grid-area: 6 / 11 / 9 / 17;
                margin: 5rem 0 0 0;
                align-items: center;
            }

            #bloc-l {
                display: block;
                grid-area: 10 / 4 / 14 / 11;
                align-self: end;
            }
        }
    }
}