main {
    min-height: 100vh;
    width: 100%;

    .projetv {
        padding: 25vh 1.5rem 1rem 1.5rem;

        img {
            width: 100%;
            margin-bottom: 1rem;
        }

        p {
            text-align: justify;
            font-family: $roboto;
            font-size: 1rem;
            line-height: 1.4rem;
            margin-bottom: 1rem;
        }

        .bloc-a {
            font-size: 1.2rem;
            font-family: $roboto;
            font-weight: 600;
            text-transform: uppercase;
            color: $myRed;
            margin: 2rem 0;
            display: block;
            position: relative;
            
            small {
                display: block;
                color: $blackText;
                text-transform: none;
                position: absolute;
                bottom: -15px;
            }
        }

        .bloc-b {
            display: block;
            margin-top: 1rem;
            font-family: $quicksand;
            font-size: 1rem;
            font-weight: 600;
            font-style: italic;
            line-height: 1.4rem;
            color: $myRed;
            text-align: right;
            padding-left: 25%;

            small {
                color: $blackText;
                font-style: normal;
                display: block;
            }
        }

        .bloc-d {
            color: $blackText;
            text-align: left;
            line-height: 1.4rem;

            h3 {
                font-size: 1rem;
                font-weight: 600;
                text-transform: uppercase;
            }

            & > * {
                margin-bottom: 1rem;
                font-weight: 600;
                font-size: 1rem;
            }
        }

        .bloc-f {
            font-size: 1.2rem;
            font-family: $roboto;
            font-weight: 600;
            text-transform: uppercase;
            color: $myRed;
            margin-bottom: 1rem;
            display: block;
            
            span {
                display: block;
                text-transform: none;
            }
        }

        .bloc-i {
            font-size: 1.2rem;
            font-family: $roboto;
            font-weight: 600;
            text-transform: uppercase;
            color: $myRed;
            margin-bottom: 1rem;
            display: inline-block;
            
            span {
                text-transform: none;
            } 
        }
    }

    footer {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        .social-icons > * {
            margin: 1rem;
            color: $blackText;
            @include transition-color;
    
            &:hover {
                color: $myRed;
            }
        }

    }

    @include media-md {
        .projetv {
            max-width: 1200px;
            margin: 0 auto;
            padding: 2rem ;
            display: grid;
            grid-template-columns: repeat(16, 1fr);
            grid-template-rows: repeat(16, auto);
            grid-gap: 1rem;
            align-items: center;

            .bloc-a {
                margin: 0;
                grid-area: 1 / 7 / 2 / 11;
                display: inline-block;
                font-size: 3rem;
                margin-bottom: 5rem;

                small {
                    bottom: auto;
                    font-size: 2rem;
                }
            }
    
    
            .bloc-b {
                grid-area: 2 / 13 / 4 / 17;
                margin: 0;
                text-align: left;
                align-self: start;
                font-size: 2rem;
                line-height: normal;
            }
    
            .bloc-c {
                margin: 0;
                grid-area: 4 / 1 / 6 / 10;
            }
    
            .bloc-d {
                grid-area: 2 / 1 / 4 / 5;
                margin: 0;
            }
    
            .bloc-e {
                display: none;
                margin: 0;
            }
    
            .bloc-f {
                grid-area: 4 / 10 / 5 / 17;
                margin: 0;
                display: inline;
                font-size: 1.8rem;
                align-self: end;

                span {
                    display: inline;
                }
            }
    
            .bloc-g {
                grid-area: 5 / 10 / 6 / 17;
                margin: 0;
                align-self: start;
                font-size: 1.2rem;
            }
            
            .bloc-h {
                grid-area: 2 / 5 / 4 / 14;
                margin: 0;
            }
    
            .bloc-i {
                display: none;
                margin: 0;
            }
    
            .bloc-j {
                display: none;
                margin: 0;
            }
    
            .bloc-k {
                display: none;
                margin: 0;
            }
    
            .bloc-l {
                display: none;
                margin: 0;
            }
        }    
    }
}