.actions {
    min-height: 100vh;
    width: 100%;

    main {
        padding-top: 25vh;

        .creations__list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-bottom: 5rem;

            .box {
                position: relative;
                flex-basis: 75%;
                max-width: 300px;
                min-width: 250px;
                aspect-ratio: 1;
                margin: 1rem;
                display: flex;
                justify-content: center;

                .bg {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    opacity: .6;
                    transition: opacity 350ms linear;;
                }

                a {
                    z-index: 5;
                    font-size: 3rem;
                    font-family: $roboto;
                    font-weight: 600;
                    color: $myRed;
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
                    text-align: center;
                    
                }
            }

            .box-1 .bg {
                background-image:
                url(../img/actions/journee-bleue.png);
                background-size: cover;
                background-position: center center;
            }

            .box-2 .bg{
                background-image:
                url(../img/actions/lectures.png);
                background-size: cover;
                background-position: center center;
            }

            .box-3 .bg {
                background-image:
                url(../img/actions/expo.png);
                background-size: cover;
                background-position: center center;
            }

            .box-4 .bg {
                background-image: 
                url(../img/actions/courtmetrage.png);
                background-size: cover;
                background-position: center center;
            }


        }
    }

    
    footer {
        display: flex;
        justify-content: center;
        margin: 1rem 0;

        .social-icons > * {
            margin: 1rem;
            color: $blackText;
            @include transition-color;
    
            &:hover {
                color: $myRed;
            }
        }
    }
}

@include media-md {
    .actions{
        display: flex;
        flex-direction: column;
        height: 100vh;


        main{
            min-height: auto;
            padding-top: 0;
            flex: 1;
            display: flex;
            align-items: center;

            .creations__list{
                width: 100%;
                justify-content: space-evenly;

                .box {
                    max-width: 300px;

                    .bg {
                        opacity: 1;
                    }

                    &:hover .bg {
                        opacity: .7;
                    }

                    a {
                        opacity: 0;
                        transition: opacity 350ms ease-in;
                        
                        
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }

            footer {
                flex: 1 1 100%;
                align-content: end;
            }
        }
    }
}